BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
BreakBeforeBinaryOperators: All
BreakBeforeBraces: Allman
DerivePointerAlignment: false
PointerAlignment: Right
IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
SortIncludes: Never
SpaceBeforeParens: Never
TabWidth: 4
UseTab: Never
ColumnLimit: 0
AlignTrailingComments: true
Cpp11BracedListStyle: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
IndentPPDirectives: BeforeHash
